.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.pagination svg {
  width: 2rem;
  height: 2rem;
}

.results {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: var(--text);
}
