.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc; /* Cor da borda externa */
  border-top: 4px solid var(--bg-500); /* Cor da borda animada */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 40px;
  /* margin: auto; centraliza se o pai for flex ou block */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
