.button {
  display: flex;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background-color: var(--bg-300);
  padding: 0.8rem;
  border-radius: 50%;
  border: none;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.button svg {
  color: var(--text-300);
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease-in;
}

.button:hover {
  transform: scale(1.08);
}

.button:hover svg {
  color: red;
}

/* .button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
  color: var(--text-300);
}

.button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.active {
  color: #e63946;
} */
