:root {
  --bg: #e2e2f1;
  /* --bg: #b0b0ff; */

  --bg-300: #4f5cd3;
  --bg-500: #373c86;
  --bg-900: #232050;

  --text: #464548;
  --text-300: #e9e9e9;
  --text-500: #d5d2dd;
  --text-900: #b7b9ca;

  --button-color: #4a40d3;
  --primary: #4a40d3;

  /* 🚦 Alertas */
  --success: #22c55e;
  --warning: #eab308;
  --error: #b42323;
  --info: #1fb6ff;
}

/* 🔔 Toastify – ajuste de tipografia */
.Toastify__toast {
  font-size: 1.4rem;
  line-height: 1.4;
}

.Toastify__toast-body {
  font-size: inherit;
}

:root[data-theme='dark'] {
  --bg: #262350;
  --bg-300: #393e85;
  --bg-500: #4f5791;
  --bg-900: #8585ee;

  --text: #cdceda;
  --text-300: #cdceda;
  --text-500: #d4d4d4;
  --text-900: #d1d1d1;

  --button-color: #4a40d3;
}
