.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: 1.8rem;
  padding: 1.2rem 0;
}

.favorites h2 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.count {
  background-color: var(--primary);
  color: var(--text-300);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  line-height: 1.6;
}
