.searchMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-300);
  color: var(--text-300);
  gap: 1.2rem;
  padding: 3.2rem 4.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
}

.form {
  flex: 0.6;
}

.inputSearch {
  width: 100%;
  padding: 1.2rem 1.6rem;
  outline: none;
  font-size: 1.6rem;
  background-color: var(--bg-500);
  color: var(--text-900);
  border: 0.4rem solid transparent;
  border-radius: 0.8rem;
  transition: border-color 0.2s ease-in, background-color 0.2s ease-in;
}

.inputSearch:focus {
  border-color: var(--bg-900);
}

.inputSearch::placeholder {
  font-style: italic;
  color: var(--text-900);
}

.numResults {
  flex: 0.4;
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .searchMovie {
    padding: 2.4rem 3.2rem;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .form {
    flex: 1;
    width: 100%;
  }

  .inputSearch {
    width: 100%;
  }

  .numResults {
    text-align: center;
    width: 100%;
  }
}
